@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Blockbuster online movie rental!</h1>
    <h4>because who needs physical copies anymore?</h4>
</div>