@model UserViewModel
<form asp-controller="User" asp-action="CreateStudent" method="post">
    <div class="form-group">
        <label class="col-form-label" for="FirstNameInput">First Name</label>
        <input asp-for="FirstName" type="text" class="form-control" required id="FirstNameInput" aria-describedby="first name" placeholder="Enter your first name">
        <br />
        <label for="LastNameInput">Last Name</label>
        <input asp-for="LastName" type="text" class="form-control" required id="LastNameInput" aria-describedby="last name" placeholder="Enter your last name">
        <br>
        <label for="AgeInput">Age</label>
        <input asp-for="Age" type="number" class="form-control" required id="AgeInput" aria-describedby="age" placeholder="Enter your age">
        <br>
        <label for="UserNameInput">Username</label>
        <input asp-for="Username" type="text" class="form-control" required id="UserNameInput" aria-describedby="username" placeholder="Enter your username">
        <br>
        <label for="EmailInput">Email</label>
        <input asp-for="Email" value="@Model.Email" type="email" class="form-control" required id="EmailInput" aria-describedby="email" placeholder="Enter your email">
        <br>
        <label for="PasswordInput">Password</label>
        <input asp-for="Password" type="password" class="form-control" required id="PasswordInput" aria-describedby="passoword" placeholder="Enter your password">
        <br>

        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>