@model List<UserViewModel>
@{
    <h2>We are proudly showing all our users over here as a thanks for being loyal customers!</h2>
    if(Model.Count < 1)
    {
        <h3>No users available</h3>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Subscription type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        @if(user.SubscriptionType != null)
                        {
                            <td>@user.SubscriptionType</td>
                        } else
                        {
                            <td>None</td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
}