<h2>You have successfully logged in!</h2>
<h3>You can now head to the available <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="ViewMovies">movies</a> and be able to rent!</h3>