<h2>You have been successfully registered!</h2>
<h3>You can now <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="LogIn">log in</a> with your new account and then you will be able to rent movies.</h3>