<h5>You were redirected to this page because you have reached your current rental limit, <br></br>Please check out the subscriptions below in case you want to rent more movies at the same time.</h3>
    <br />
    <div style="justify-content:center">
    <div class="card" style="width: 18rem;display:inline-block">
      <div class="card-body">
        <h5 class="card-title">Monthly</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Subscription type</h6>
        <p class="card-text"></p>
        <a href="#" class="card-link btn btn-primary">Subscribe</a>
      </div>
    </div>
        <div class="card" style="width: 18rem; display:inline-block">
        <div class="card-body">
            <h5 class="card-title">Yearly</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">Subscription type</h6>
            <p class="card-text"></p>
                <a href="#" class="card-link btn btn-primary">Subscribe</a>
        </div>
    </div>

</div>